* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", sans-serif;
}
header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(238, 157, 157);
}
ul {
    display: flex;
    list-style-type: none;
}
ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: inline-block;
}
li a::after {
    content:'';
    display: block;
    height: 4px;
    width: 0;
    background: #fee498;
    transition:all .5s;
}
li a:hover::after {
    width: 100%;
}
.logo {
    font-size: 24px;
    color: white;
}

main {
    display: flex;
    height:calc(100vh - 100px); 
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 157, 157, 75%);
    gap: 120px;
}
.hero-img{
    height: auto;
    width: 400px;
}
.content-left {
    width: 30%;
}
main h1 {
    font-size: 48px;
    padding: 0 0px;
    color:#fee498;
    font-weight: 500;
}
main p{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
.button {
    padding: 15px 30px;
    background-color:#000;
    color:#fff;
    font-size: 14px;;
    text-decoration: none;
    outline: none;
    border:none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    margin: 40px 0;
}

.projects {
    height: 600px;
}
.projects h2 {
    text-align: center;
    margin-top: 60px;
    font-size: 36px;
    color:#000;
    margin-bottom: 100px;
    font-weight: 300;
}
.project-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.project-content img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}
.project-content p {
    text-align: center;
    margin:15px 0;
    font-weight: 600;
    font-size: 18px;
 
}
.description p{
    text-align: center;
    flex-wrap: wrap;
    max-width: 200px;
    font-weight: 300;
    font-size: 16px;
}
.project-content a {
    text-decoration: none;
    transition:all .5s;
    color: black;
}
.project-content a:hover {
    color: #fee498;
}
.quote {
    height: 300px;
    background-color:rgba(254, 229, 154, 30%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote q {
    font-size: 32px;
    font-style:italic;
    max-width: 800px;
    font-weight: 300;
} 
.quote p {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
    margin-left: 400px;
}
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    gap: 100px;
    background-color:rgba(238, 157, 157, 75%);
    padding: 30px 0;
    border-radius: 30px;
}
.cta h3 {
    color: white;
    font-size: 48px;
}
.cta-button {
    padding: 20px 40px;
    background-color: #000;
    color: #fff;
    font-size: 16px;;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
    text-decoration: none;
}
.cta-button a {
    color:#fff;
    text-decoration: none;
}
footer {
    background-color: rgb(238, 157, 157);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-size: 20px;
    color: white;
}

